.profile{
    display: flex;
    gap:40px;
    height: 100;
    
}
.profileLinks nav{
    background-color: #5d6e70 ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 30px;
}
.profileLinks{
    width: 300px;
}
.userData{
    flex-grow: 1;
}
nav a{
    color: white ;
    font-size: 20px;
    text-decoration: none;
}
.table1{
  color:#525252 !important;
}